<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>Error</title>
    <style>
         * {
            background-color: #CEF6FF;
            font-family: 'Titillium Web', sans-serif;
         }
    </style>
</head>
<body>
    <h1 style="text-align: center; font-size: 128px;">ERROR!!</h1>
    <h6 style="text-align: center; font-size: 72px;">Please try again :)</h6>
</body>
</html>