<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <div class="login-pic">
        <img src="/static/Group 266.png">
    </div>
    <h1 id="login">Login</h1>
    <p id="des-login">Set a name for your profile, here's
        the password</p>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="container">
                <div class="name-text">Email</div>
                <div class="inp-name">
                    <input name="email" placeholder="Enter your Email" type="email">
                </div>
            </div>
            <div class="container">
                <div class="name-text">Password</div>
                <div class="inp-name">
                    <input name="password" placeholder="Enter your password" type="password">
                </div>
            </div>
            <div class="container-button">
                <button type="submit">LOGIN</button>
            </div>
        </form>
</body>
</html>